# .ipynb_checkpoints
.ipynb_checkpoints

# Data
data

# Others
projects/TurnstileDataExploration/BoroughBoundaries
projects/TurnstileDataExploration/Benson_Challenge.ipynb
projects/WeatherRainPrediction-Classification/env
projects/WeatherRainPrediction-Classification/test