<!DOCTYPE html>
<html>
<head>
	<title>Contact us</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body>
	<div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>Weather Prediction</h2>
                <form action="output" method="GET">
                    <input type="number" class="field" placeholder="Humidity" name="hum" id="hum">
                    <input type="number" class="field" placeholder="Sunshine" name="sun" id="sun">
                    <input type="number" class="field" placeholder="Pressure" name="press" id="press">
                    <input type="number" class="field" placeholder="Rain" name="rain" id="rain">
                    <!-- <textarea placeholder="Message" class="field"></textarea> -->
                    <button class="btn">Predict</button>
                </form>
			</div>
		</div>
	</div>
</body>
</html>